*.iml
.gradle
/local.properties
/app/keystore.properties
/.idea/workspace.xml
.idea/misc.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/build/
./idea/*
.idea/modules.xml
.idea/*
.idea/caches/
.idea/codeStyles/
env/
docs/_build/
/.idea/assetWizardSettings.xml
/.idea/caches/*
*.hprof
/app/entri-keystore.jks
/fastlane/report.xml
/fastlane/README.md
/entri-keystore.jks
firebase-test-matrix.yml
# build apks
/app/debug/app-debug.apk
/app/debug/output-metadata.json
/app/release/app-release.apk
